body {
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  } 
      
  table {
    margin: 0 auto; 
    border-collapse: collapse;
    width: 70%;
  }

  th, td {
    border: 1px solid black;
    padding: 10px; 
    text-align: left; 

  }

  th {
    background-color: lightgray;
  }

  a {
    display: inline-block; 
    margin-top: 10px;
    text-decoration: underline; 
    color: rgb(183, 106, 84);
    font-weight: bold;
    font-size: 15px;
  }

  a:hover {
    text-decoration: underline;
    font-weight: bolder; 
  }